{% extends "layout.html" %}

{% block content %}
	<div class="quienesSomos">
		<div class="quien">		
			<h2>¿Quíenes Somos?</h2>
			<p>Somos TÚ solución en un click: nos enfocamos en brindarte el mejor servicios en materia de telecomunicaciones con un personal amplio y especializado teniendo como pilar , la calidad en todos los sentidos.</p>
			<p>¡Te invitamos a conocer más sobre nuestra labor en nuestra página oficial!</p>
		</div>
	</div>

	<div class="misionVision">
		<div class="mision">
			<div class="misionp">
				<h2>Misión</h2>
				<p>Ofrecer servicios con las tecnologías más innovadoras de acuerdo con las necesidades de cada cliente, con el objetivo de maximizar su competitividad y productividad utilizando soluciones prácticas y eficientes.</p>
			</div>
			<div class="misionIMG">
				<img src="../static/img/proyect.jpg" alt="Misión de una empresa de telecomunicaciones en caracas.">
			</div>
		</div>
		<div class="mision vision">
			<div class="misionp">
				<h2>Visión</h2>
				<p>Posicionarnos como una empresa de servicios de calidad, excelencia e integralidad, como un aliado comercial estratégico aportando valor en nuestros productos y servicios de manera satisfactoria.</p>
			</div>
			<div class="misionIMG">
				<img src="../static/img/proyect2.jpg" alt="Vision de una empresa de telecomunicaciones en caracas.">
			</div>
		</div>
	</div>

	<div class="alianzas">
		<h2>Alianzas</h2>
		<div class="alianzasIMG">
			<img src="../static/img/empresa1.png">
		</div>
		<div class="alianzasIMG">
			<img src="../static/img/empresa2.png">
		</div>
		<div class="alianzasIMG">
			<img src="../static/img/empresa3.png">
		</div>
		<div class="alianzasIMG">
			<img src="../static/img/empresa4.png">
		</div>
	</div>
{% endblock %}