/*Importar Estilos*/
@import url("template.css");
/*Colores*/
/*
  --color-blue: #176bef;
  --color-yellow: #f7b529;
  --color-green: #179c52;
  --color-red: #ff3e30;

  --color-gray: #bdbdbd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray2: #b4b3a9;
*/

.contador{
  display: flex; 
  justify-content: space-around;
  padding: 20px 0;
  margin: 100px 0px;
}
.contador .content{
  display: flex;
  align-items: center;
}
.contador .content img{
  padding: 5px;
  object-fit: contain;
  width: 80px;
  margin-right: 5px;
}
.contador .content .num{
  text-align: center;
  color: var(--color-blue);
  font-weight: 700;
}
/*Media query, Alianzas*/
@media (max-width: 1047px){
  .contador .content .num{
    text-align: left;
  } 
}
@media (max-width: 750px){
  .contador{
    flex-flow: row wrap;
  } 
  .contador .content .num{
    text-align: center;
  } 
  .contador .content img{
    width: 100px;
  }
  .contador .content{
    margin-top: 5px;
  }
}