/*Importar Estilos*/
@import url("template.css");

/*Colores*/
/*
  --color-blue: #176bef;
  --color-yellow: #f7b529;
  --color-green: #179c52;
  --color-red: #ff3e30;

  --color-gray: #bdbdbd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray2: #b4b3a9;
*/
/*Estilos Principales*/


/*Personal de trabajo*/
.mePersonal{
  width: 100%;
  background:linear-gradient( white, #bdbdbd );
  padding: 100px 0px ;
}
.mePersonal h3{
  color: #f7b529;
  font-size: 32px;
  text-align: center;
}
.alianzasContainer .titleMePersonal h3{
  font-family: fuente2;
  font-size: 20px;
}
.mePersonal .letraequipo{
  width:100px;
}
.mePersonal .letraequipo img{
  width:100%;
}
.ContenedorTarjetas{
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
.tarjeta{
 width: 260px;
 background: white;
 display: flex;
 flex-flow: nowrap column;
 justify-content: center;
 align-items: center;
 padding: 10px 0;
 border-radius: 4px;
 box-shadow: 1px 1px 10px rgba(10, 10, 10, .5);
}
.tarjeta img{
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  padding: 5px;
  border: 2px solid var(--color-green);
}
.tarjeta:nth-child(1) img{border: 2px solid var(--color-green);}
.tarjeta:nth-child(2) img{border: 2px solid var(--color-yellow);}
.tarjeta:nth-child(3) img{border: 2px solid var(--color-blue);}
.tarjeta:nth-child(4) img{border: 2px solid var(--color-green);}

.tarjeta h4{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  border-bottom: 2px solid var(--color-green);
}
.tarjeta:nth-child(1) h4{
  border-bottom: 2px solid var(--color-green);
}
.tarjeta:nth-child(2) h4{
  border-bottom: 2px solid var(--color-yellow);
}
.tarjeta:nth-child(3) h4{
  border-bottom: 2px solid var(--color-blue);
}
.tarjeta:nth-child(4) h4{
  border-bottom: 2px solid var(--color-green);
}
.tarjeta p{
  margin-top:5px;
  font-size: 14px;
  text-align: center;
}
.tarjeta .botonesRedes{
  margin-top: 20px;
}
.tarjeta .botonesRedes a{
  margin: 5px 10px;
  font-size: 25px;
}
.tarjeta .botonesRedes a:nth-child(1){color: #e1306c;}
.tarjeta .botonesRedes a:nth-child(2){color: var(--color-blue) ;}
.tarjeta .botonesRedes a:nth-child(3){color: var(--color-green);}
/*FIN DEL Personal*/

/*Alianzas*/
.alianzasContainer{
  margin-top: 100px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}
.alianzas{
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
}
.titleMePersonal{
  padding: 50px 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alianzasContainer .icono-alinza{
  width: 70px;
  padding:10px ;
}
.alianzasContainer .icono-alinza img{
  width: 100%;
}
.titleMePersonal #nuestroequipo{
  color: #257DB4;
  padding: 2px;
  font-size: 30px;
}
/*FIN DE las alianzas*/









/*Media Query Tarjetas*/
@media (max-width: 1180px){
  .tarjeta{
    margin: 10px 60px;
  } 
  .ContenedorTarjetas{
    justify-content: center;
  }
}

@media (max-width: 860px){
  .tarjeta{
    margin: 10px 10px;
  } 
}
@media (max-width: 860px){
  .tarjeta{
    margin: 10px 10px;
  } 
  .ContenedorTarjetas{
    padding: 0px;
  }
}
@media (max-width: 400px){
 .tarjeta{
   width: 200px;
  }
  .tarjeta img{
    width: 120px;
    height: 120px;
  }
  .tarjeta h4{
    font-size: 17px;
  }
  .mePersonal h3{
    font-size: 24px;
  }
  .mePersonal .letraIEquipo{
    font-size: 20px;
  }
  @media (max-width: 410px){
  .titleMePersonal #nuestroequipo{
  padding: 0px;
  font-size: 25px;
}
  .alianzasContainer .icono-alinza{
  width: 50px;
  padding:10px ;
}
}
}
/*FIN DE LOS Media Query*/

/*Media query, Alianzas*/
@media (max-width: 700px){
  .alianzas{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
  }
  .alianzasContainer{
    height: auto;
  }
  .alianzas .equipo{
    margin: 10px 10px;
  }
  @media (max-width: 400px){
    .titleMePersonal #nuestroequipo{
    color: #257DB4;
    padding: 0px;
    font-size: 20px;
  }

  @media (max-width: 400px){
  .titleMePersonal #nuestroequipo{
  color: #257DB4;
  padding: 0px;
  font-size: 20px;
}  
}