/*Importar Estilos*/
@import url("template.css");

/*Colores*/
/*
  --color-blue: #176bef;
  --color-yellow: #f7b529;
  --color-green: #179c52;
  --color-red: #ff3e30;

  --color-gray: #bdbdbd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray2: #b4b3a9;
*/
/*Estilos Principales*/


/*Servicios*/
.ourServices{
  width: 100%;
  background: var(--color-white);
  padding: 100px 0;
  padding-bottom: 0;
}
.titleMePersonal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourServices h3{
  font-size: 32px;
  text-align: center;
  padding: 10px;
}
.alianzasContainer h3{
  font-size: 25px;
}
.ourServices .letraIServicio{
  font-size: 28px;
  padding: 10px;
  background: var(--color-blue);
  border-radius: 2px;
}

.allServices{
  display: flex;
  justify-content: center;
  align-items: center;
}
.acordeon{
  width: 400px;
}
.acordeon .bloque{
  margin: 10px 0;
  border-radius: 2px;
  transition: all .5s ease;
}

.acordeon .bloque h4{
  text-align: center;
  font-size: 15px;
  font-family: fuente2;
  background: var(--color-blue);
  color: white;
  padding: 10px 5px;
  transition: all .5s ease;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
}

.acordeon .bloque h4:hover{
  background: var(--color-green);
  transition: all .5s ease;
}

.acordeon .bloque.activo h4{
  background: var(--color-green); 
}
.contentService{
  width: 100%;
  height: 450px;
  overflow: hidden;
  padding: 10px 20px;
}

.contentService .bloqueInfo{
  height: 0;
  width: 0;
  overflow: hidden;
  transition: all .5s ease;
  background: lightcyan;
  border-radius: 2px;
}

.contentService .bloqueInfo.activo{
  height: 100%;
  width: 100%;
  transition: all .5s ease;
}

/*Estilo del bloque bloqueInfo*/
.bloqueInfo{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.bloqueInfo h2{
  font-size: 20px;
  padding: 10px;
  color: var(--color-white);
  background: var(--color-green);
  width: 100%;
  border-radius: 2px;
}
.bloqueInfo p{
  max-width: 900px;
  margin: auto;
}
.bloqueInfo .division{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.division img{
  object-fit: contain;
  width: 350px;
  border-radius: 4px;
  margin-right: 10px;
}
.division ul{
  padding: 10px;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  height: 100%;
  margin-left: 10px;
}
.division ul li{
  list-style: square;
}
.listaServicios{
  display: block;
}
.listaServicios.activo{
  display: none;
}
/*FIN del bloque bloqueInfo*/


/*Media query*/
@media (max-width: 400px){
  .titleMePersonal .letraIServicio{
    font-size: 20px;

  }
  .titleMePersonal h3{
    font-size: 24px;
  }
}

/*Media de los botones del acordeon*/
@media (max-width: 800px){
  .acordeon{
    width: 100px;
  }
  .acordeon .bloque h4{
  }
}


/*Media del bloque de información*/
@media (max-width: 918px){
  .bloqueInfo .division{
    flex-flow: row nowrap;
  }
}

@media (max-width: 800px){
  .contentService{
    height: 500px;
    padding: 10px 20px;
  }
  .bloqueInfo p.infoInfo{
    width: 90%;
    margin: auto;
    font-size: 14px;
  }
  .division ul li{
    font-size: 14px;
  }
}