/*Para Todo*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}
/*Fin Para Todo*/

/*Fuentes*/
@font-face{
    font-family: fuente1;
    src: url(../fonts/Comfortaa-Bold.ttf); 
}
@font-face{
    font-family: fuente2;
    src: url(../fonts/Comfortaa-Regular.ttf); 
}
@font-face{
    font-family: fuente3;
    src: url(../fonts/Merriweather-Regular.ttf); 
}
@font-face{
    font-family: fuente4;
    src: url(../fonts/Roboto-Regular.ttf); 
}
/*Fin de la Fuentes*/


/*Custom Propities*/
:root{
  /*Colores de Google*/
  --color-blue: #176bef;
  --color-green: #179c52;
}
/*FIN de las Customs Propities*/


/*Estructura*/
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4{
  font-family: fuente4;
}
p, li, a{
  font-family: fuente2;
  color:#2d3436;
}
/*Fin de la Estructura*/


/*KEYFRAMES*/
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moverAbajo{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes desvanecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*FIN DE LOS KEYFRAMES*/