/*Importar Estilos*/
@import url("template.css");
/*Colores*/
/*
  --color-blue: #176bef;
  --color-yellow: #f7b529;
  --color-green: #179c52;
  --color-red: #ff3e30;

  --color-gray: #bdbdbd;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray2: #b4b3a9;
*/
/*Zonas*/
.zonas{
  width: 100%;
  background: var(--color-gray);
  padding: 100px 0;
}
.titleZonas{
  display: flex;
  justify-content: center;
  align-items: center;
}
.zonas h3{
  font-size: 32px;
  text-align: center;
  padding: 10px;
}
.zonas .letraIZonas{
  font-size: 28px;
  padding: 10px;
  background: var(--color-green);
  border-radius: 2px;
}
/*Letras Inicio Zonas*/

/*Otros estilos*/
.zonas ul{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.zonas .zonaItem{
  width: 300px;
  background: white;
  padding: 10px;
  font-size: 20px;
  font-family: fuente1;
  margin: 5px 5px;
  border-radius: 1px 5px 1px 5px;
  border-left: 10px solid rgba(10, 10, 10, .0);
  transition: all .5s ease;
}
.zonas .zonaItem:hover{
  transition: all .5s;
  border-left: 10px solid var(--color-green);
}

/*Media query*/
@media (max-width: 1169px){
  .zonas .zonaItem{
    width: 200px;
    height: 100%;
  }
}

/*Media query*/
@media (max-width: 787px){
  .zonas .zonaItem{
    width: 150px;
    font-size: 16px;
  }
}
/*Media query*/
@media (max-width: 787px){
  .zonas ul{
    width: 95%;
    justify-content: center;
  }
}
@media (max-width: 400px){
  .titleZonas .letraIZonas{
    font-size: 20px;

  }
  .titleZonas h3{
    font-size: 24px;
  }
}
